<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isLogged"><a routerLink="/recipe">Recipe</a></li>
        <li routerLinkActive="active" *ngIf="!isLogged"><a routerLink="/auth">Authenticate</a></li>
        <li routerLinkActive="active" *ngIf="isLogged"><a routerLink="/shopping">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isLogged" ><a style="cursor: pointer" (click)="onLogout()"> Logout</a></li>
        <li class="dropdown" appDropdown *ngIf="isLogged">
          <a class="dropdown-toggle" role="button"> Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a (click)="saveData()"> Save Data</a></li>
            <li><a (click)="fetchRecipes()"> fetch Data </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
