<div class="row ">
  <div class="col-xs-12">
    <!--    <div class="alert alert-danger" *ngIf="error">-->
    <!--      <p>{{error}}</p>-->
    <!--    </div>-->
<!--    <app-alert [message]="error" *ngIf="error" (close)="close()"></app-alert>-->
    <ng-template placeholder-app></ng-template>
    <div *ngIf="isLoading">
      <app-loading></app-loading>
    </div>
    <form #authform="ngForm" (ngSubmit)="onSubmitData(authform)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" id="email" class="form-control" name="email" ngModel email required>
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input type="password" id="password" class="form-control"
               ngModel name="password" required minlength="6">
      </div>
      <div>
        <button class="btn btn-success" type="submit"
                [disabled]="!authform.valid"> {{isLoginmode ? 'Login' : 'Sign UP'}}</button>
        |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button"> Switch to
          {{!isLoginmode ? 'Login' : 'Sign UP'}} </button>
      </div>
    </form>
  </div>
</div>
